<app-nav1></app-nav1>
<div class="card">
    <img src="../../assets/9.png" class="tec">
    <h1>About</h1>
    <p>The GIET Technical Club was founded on 15-11-2021 to cope up with the rapid growth of technology.
        It has come a long way seeding constructive ideas and encouraging students to delve into the colossal 
        of technology.
        Tech Club is a platform where the students will be able to develop and learn various skills like, 
        Computer coding, Application development, Web development and Artificial Intelligent .The club is focusing 
        on conducting events like program coding, debugging , Hackathon and workshop for the students for our students
         to improve their coding and analytical, 
        problem solving skills and techniques.
    </p>
    <h1>Objective</h1>
    <p>The tech club’s objective is to establish a coding background culture to involve the students to build the
         logical and analytical skills to support computer programming as a plan to fit for the Software development
          industry needs.</p><h1>Activities</h1>
    <p>Engaging activities to contest against other students from all branches, with weekly scoreboard to know your rank among all the participants. 

       1.QUIZES
        
        2.HACKATHON
        
        3.WEB-PAGE DEVELOPMENT</p>
</div>