 <app-nav></app-nav>
 <div class="bg-image">
    <img src="https://mintbook.com/assetsNew/img/digital-2.png" alt="" class="image">
    <div class="container1" data-aos="fade-up">
      <img src="../../assets/ava.png" alt="" class="avatar">
      <h1>Welcome</h1>
      <input type="text" placeholder="First name" name="First name" required> 
      <input type="text" placeholder="last name" name="last name" required> 
      <input type="text" placeholder="User name" name="User name" required> 
      <input type="text" placeholder="email" name="email" required> 
      <input type="password" placeholder="Enter Password" name="psw" required> 
       <button (click)="onclick()" class="btn">Signup</button>
      <p>New User? <a routerLink="../login">Login</a></p>
    </div>
  </div>  
  <!-- <div class="bg-img">
    <img src="../../assets/sign1.webp" >
    <div class="container" data-aos="zoom-in">
      <form action="/action_page.php" class="container1" >
        <h1>Login</h1>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <button type="submit" class="btn">Login</button>
        <p>New User?<a href="../signup">Create New Account</a></p>
       
      </form>
    </div>
    </div> -->
