<app-nav1></app-nav1>
<div class="card">
    <img src="../../assets/7.png" class="tec">
    <h1>About</h1>
    <p>Do you want to boost your self-confidence, improve your communication skills, 
        and develop a positive mindset? If so, then our Personality Development Club 
        is the perfect place for you! Our club is dedicated to helping individuals like yourself 
        achieve personal growth and success through a variety of activities, workshops, and group
         discussions. 
    </p>
    <h1>Objective</h1>
    <p>-->Enhancing communication skills through public speaking, active listening, and effective feedback 

    -->Building self-confidence and self-esteem through personal development activities 
        
-->Developing a positive attitude and mindset through goal setting, visualization, and mindfulness techniques 
        
-->Building leadership and teamwork skills through group projects and activities
        
-->Enhancing time management skills to achieve a better work-life balance 
        
        </p>
          <h1>Activities</h1>
    <p>1.Online JAM(Just A Minute) session

        2.Quiz
        
        3.Virtual GD(Group Discussion)
        
        4.Mock Interview (Online and offline)
        
        5.Word Scramble Game
        
        </p>
</div>