<app-nav1></app-nav1>
<section class="mt-2 mx-4">
    <div class="container">
        <!-- <img src="../../assets/online-lib.jpg" class="con"> -->
    <div class="row row-cols-1 row-cols-md-5 g-5">
        <!-- <div class="col" *ngFor="let img of images"> -->
            <div class="card shadow-lg" data-aos="zoom-in">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../assets/cse.png" alt="" style="width:400px;height:250px">
                        </div>
                        <div class="flip-box-back">
                            <h4>Computer Science and Engineering</h4>
                            <p>To be a centre of academic excellence in the field of computer science and engineering education and research, to serve as a valuable resource for industry and society, maintaining the traditions and human values...</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <h3 style="text-align: center;">CSE</h3>
                        <button class="btn btn-outline-info" routerLink="/year1">Click here</button>
                    </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../assets/ece.jpg" alt="Paris" style="width:300px;height:250px">
                        </div>
                        <div class="flip-box-back">
                            <h4>Electronics and Communication Engineering</h4>
                            <p>ECE is a thriving sector with multiple job opportunities across industries. With the advancements in technology and the introduction of new gadgets, that too in the best companies...</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <h3 style="text-align: center;">ECE</h3>
                    <button class="btn btn-outline-info" routerLink="/year2">Click here</button>
                    </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../assets/eee.jpg" alt="Paris" style="width:300px;height:250px">
                        </div>
                        <div class="flip-box-back">
                            <h4>Electrical and Electronics Engineering</h4>
                            <p>The department arranges industrial visits to reputed establishments in and around the state, with a view to integrate academic instructions and practical aspects. The students of the Department of Electrical and Electronics...</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <h3 style="text-align: center;">EEE</h3>
                    <button class="btn btn-outline-info" routerLink="/year3">Click here</button>
                    </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../assets/civil.jpg" alt="Paris" style="width:300px;height:250px">
                        </div>
                        <div class="flip-box-back">
                            <h4>Civil Engineering</h4>
                            <p>Civil Engineering is a good choice for students who want to work directly with society and serve it. The primary purpose of any Civil Engineer is to provide various facilities and build necessary infrastructure to meet all social needs</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <h3 style="text-align: center;">CIVIL</h3>
                    <button class="btn btn-outline-info" routerLink="/year4">Click here</button>
                    </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../assets/Cyber-Security-Header-1024x362 (1).jpg" alt="Paris" style="width:300px;height:250px">
                        </div>
                        <div class="flip-box-back">
                            <h4>Cyber Security Engineering</h4>
                            <p>Cyber Security course equips students with the technical knowledge and skills to prevent, detect and respond to cyber-attacks. It covers several topics, such as system security, computer security, cryptography, network security, cyber forensics...</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <h3 style="text-align: center;">CSC</h3>
                    <button class="btn btn-outline-info" routerLink="/year5">Click here</button>
                    </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../assets/Petrol.png" alt="Paris" style="width:300px;height:250px">
                        </div>
                        <div class="flip-box-back">
                            <h4>Petroleum Engineering</h4>
                            <p>Petroleum engineering is a field of engineering concerned with the activities related to the production of hydrocarbons, which can be either crude oil or natural gas. Exploration and Production are deemed to fall within the upstream sector of the oil and gas industry. Petroleum Engineering is a combination of innovation</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <h3 style="text-align: center;">PETEOLEUM</h3>
                    <button class="btn btn-outline-info" routerLink="/year6">Click here</button>
                    </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../assets/MECH1.png" alt="Paris" style="width:300px;height:250px">
                        </div>
                        <div class="flip-box-back">
                            <h4>Mechanical Engineering</h4>
                            <p>Mechanical engineers build the world around us. From the tiniest nanotechnology, through to cars and buildings, to airplanes and space stations, mechanical engineers are responsible for the design and development of most things.</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <h3 style="text-align: center;"> MECH</h3>
                    <button class="btn btn-outline-info" routerLink="/year7">Click here</button>
                    </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../assets/al.jpg" alt="Paris" style="width:300px;height:250px">
                        </div>
                        <div class="flip-box-back">
                            <h4>Artificial Intelligence and Machine Learning</h4>
                            <p>Artificial Intelligence and Machine Learning is a branch of study or discipline which includes theories, standards, methods and innovations of various different domains like mathematics, cognitive science, electronics and embedded systems to make intelligent systems that mimic human behaviour.</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <h3 style="text-align: center;">CSM</h3>
                    <button class="btn btn-outline-info" routerLink="/year8">Click here</button>
                    </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../assets/mining.png" alt="Paris" style="width:300px;height:250px">
                        </div>
                        <div class="flip-box-back">
                            <h4>Mining Engineering</h4>
                            <p>The Department of Mining Engineering started and successfully running in this college from 2009. The first batch passed-out in the year 2013. The department comprises of state of the art laboratory facilities</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <h3 style="text-align: center;">MINING</h3>
                    <button class="btn btn-outline-info" routerLink="/year8">Click here</button>
                    </div>
            </div>
         </div> 
    </div>
</section>
