<app-nav1></app-nav1>
<div class="card">
    <img src="../../assets/8.jpg" class="tec">
    <h1>About</h1>
    <p>Innovation Club has emerged  with an initiative to give students a place to think creatively. Our practical exercises foster participation, creativity, and innovation. Students also incorporate expertise and information from a variety of disciplines, including science and engineering. Our goal is to encourage an innovative culture and an atmosphere that stimulates the development of new ideas.

        Mission - To produce innovative, entrepreneurial and successful engineers and technologists of high calibre for the nation, to serve as a valuable resource for industry and society.
    </p>
    <h1>Objective</h1>
    <p>-->Through a variety of activities, the goals are to foster interests, creativity, innovation, and ethics.

    -->To support young students as they develop new ideas into prototypes in order to inspire, motivate, and nurture them.
        
-->to inspire and prepare students for the pursuit of own interests, artistic endeavours, novel concepts, etc.
        </p>
          <h1>Activities</h1>
    <p>1.Education on startups and innovation

        2.The Development of Startup Business Ideas for Innovation and Entrepreneurship
        
        3.Presenting a technological poster
        
        4.TECH TALK
        
        5.IDEATHON 5
        
        6.Regular workshops on issue solving, coming up with fresh ideas, and finding answers
        
        7.Frequent documentaries on innovators and inventions
        </p>
</div>