section .row .col .card .card-title{
    text-align: center;
}

section .row .col .card .card-title h1{
    color:#333;
    font-size:1.5rem;
    padding-top: 15px;
}
section .row .col .card .card-title .card-body p{
    font-size: 0.7rem;
}
section .row .col .card .card-title .card-body button{
    background-color:green;
    border:null;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    padding: 2px 4px;
    transition: 0.6sec;
}
section .row .col .card .card-title .card-body button:hover{
    background-color:red;
}
section .row .col .card{
    transition: transform 420ms;
}
 section .row .col .card:hover{ 
    transform: scale(1.09);
}
.g-5{
    padding: 5%;
}
.card{
    height: 410px;
}
section .row{
    padding: 5%;
}