<app-nav1></app-nav1>
<section class="mt-2 mx2">
    <div class="row row-cols-1 row-cols-md-4 g-5">
            <div class="card shadow-lg" data-aos="zoom-in">
                <img src="../../assets/9.png" alt="" height="300px" align="center">
                <div class="card-title">
                    <h5>Tech Club</h5>
                    <div class="card-body">
                        <button class="btn btn-outline-info" routerLink="/tech">click</button>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <img src="../../assets/7.jpg" alt="" height="300px" align="center">
                <div class="card-title">
                    <h5>Personality Development</h5>
                    <div class="card-body">
                        <button class="btn btn-outline-info" routerLink="/per">click</button>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <img src="../../assets/8.jpg" alt="" height="300px" align="center">
                <div class="card-title">
                    <h5>Innovation Club</h5>
                    <div class="card-body">
                        <button class="btn btn-outline-info" routerLink="/inno">click</button>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg" data-aos="zoom-in">
                <img src="../../assets/6.jpg" alt="" height="300px" align="center">
                <div class="card-title">
                    <h5>Alumini Club</h5>
                    <div class="card-body">
                        <button class="btn btn-outline-info" routerLink="/alu">click</button>
                    </div>
                </div>
            </div>
    </div>
</section>