<app-nav1></app-nav1>
<div class="card">
    <img src="../../assets/6.jpg" class="tec">
    <h1>About</h1>
    <p>GIET ALUMNI CLUB brings former students together to maintain a connection with their university and fellow graduates.

        Being a part of an association can open many doors for you and allow you to reap a lot of different benefits. 
        Not only does it give the opportunity to stay engaged, but it also allows you to help new and potential students.
        one can gain knowledge of on going industry trends by connecting through ALUM .It is a gateway for people to get in
         touch with graduates of GIET institutions , provide professional opportunities such as internships, and help build valuable 
         contact.</p>
    <h1>Objective</h1>
    <p>GIET Alumni club objective is to establish networking opppurtunities which can connect recent graduates with established professionals and help people pursue career changes.</p>
          <h1>Benefits of the Club</h1>
    <p>-->Direct interaction from the graduates of GIET institutions.

    -->Career support from recent grads.
        
-->Helps in socializing.
        
-->Reunion builds confidence among students.
        </p>
</div>