<app-nav></app-nav>
<div class="bg-image">
    <img src="../../assets/login3.avif" alt="" class="image">
    <div class="container1" data-aos="zoom-in">
      <img src="../../assets/icon.png" alt="" class="avatar">
      <h1>Login page</h1>
      <label for="email"><b>User name</b></label>
      <input type="text" placeholder="Enter username" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
 <button (click)="onclick()" class="btn">login</button>
      <p>New User? <a routerLink="../signup">Sign up</a></p>
    </div>
  </div>