
.image {
    width: 60%;
    height: 100%;
    position: absolute;
  }
  .container1{
    width:320px;
    height:400px;
    top: 0.5%;
    left:70%;
    background-color: transparent;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    background-color:#f9f8f8;
  }
  .avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: -12%;
    left: calc(50% - 50px);
  }
  .h1{
    margin: 10%;
    padding: 20%;
    text-align: center;
    font-size: 22px;
    color: rgb(0, 0, 0);
  }
  .container1 {
    max-width: 320px;
    padding: 3%;
    margin-top: 10%;
    position: absolute;
    background-color: transparent;
  }
  
  
    .container1 input[type=text], input[type=password] {
    width: 100%;
    padding-top: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #e9e7e7;
    border-radius: 10px;
    text-align: center;
    
  }
  .container1 input[type=text]:focus, input[type=password]:focus {
    background-color: #f9f8f8;
    outline: none;
  }
  .container1 input[type=text]:hover, input[type=password]:hover{
    background-color: #E8F0FE;
  }
  .container1 p{
    padding: 8%;
  }
  .btn{
    background-color: #F7933E;
    color: rgb(10, 10, 10);
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 30px;
  }
  .btn:hover {
    opacity: 1;
    color: rgb(184, 100, 11);
  }