<app-nav1></app-nav1>
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div class="ultimateImg">
        <img class="mainImg" src="https://www.betterup.com/hubfs/Google%20Drive%20Integration/Delivery%20URL%20-%20BetterUp%20-%20importance%20of%20teamwork%20%5BARTICLE%5D-3.jpeg">
        <div class="purpleBox">
          <p class="purpleText">
            Kindly review our services
          </p>
          <img class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg">
        </div>
      </div>
      <div class="allText bottomText">
        <h1>
          About us
        </h1>
        <p class="text-blk subHeadingText">
            Welcome to our Giet-Library website!
        </p>
        <p class="text-blk description">
            Our main motto is to provide the library services to the students of Godavari Institute of Engineering and Technology.Due to hectic schedules and various other reasons, students are finding difficult to access and acquire the content from library.So we cameup with the idea "GIET-Library".We are demonstrating our idea here in FABulous way:
        </p>  
            <h3>->Features</h3>
            
          <p>  Accessibility,<br>
            Data Transparency,<br>
            24/7 Availability. </p>
            
          <h3>->Advantages:</h3>  
            
           <p> Integrated Learning,<br>
            Vast Collection,<br>
            Enhanced search capabilities. </p>
            <h3>->Benifits:</h3>
          <p>  Time Management,<br>
            Ease Of Use,<br>
            Personalized User Experience.
        </p>
        <br>
        <button (click)="onclick()" class="explore">View Services</button>
        <!-- <a class="explore" href="#/department">
          View Services
        </a> -->
      </div>
    </div>
  </div>
