<app-nav1></app-nav1>
<section class="banner">
    <div class="card-header"> 
      <h1>Subjects</h1>
    </div>
    
  </section>
  <div class="card bg-transpranent">
    <div class="card-body">
        <div class="container" data-aos="zoom-in">
            <h5>-->Mathematics-I </h5>
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Click Here
        </button>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="../cse1">Syllabus</a>
            <a class="dropdown-item" href="../cse2">Text Book</a>
            <a class="dropdown-item" href="../cse2">Previous Question Paper</a>
        </ul>
      </div>
            <h5>Communicative English-I</h5>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Click Here
                </button>
                <ul class="dropdown-menu">
                  <a class="dropdown-item" href="../cse1">Syllabus</a>
                    <a class="dropdown-item" href="../cse2">Text Book</a>
                    <a class="dropdown-item" href="../cse2">Previous Question Paper</a>
                </ul>
              </div>
              <h5>Applied physics</h5>
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Click Here
                  </button>
                  <ul class="dropdown-menu">
                    <a class="dropdown-item" href="../cse1">Syllabus</a>
                      <a class="dropdown-item" href="../cse2">Text Book</a>
                      <a class="dropdown-item" href="../cse2">Previous Question Paper</a>
                  </ul>
                </div>
                <h5>Problem solving&Programming in c</h5>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Click Here
                    </button>
                    <ul class="dropdown-menu">
                      <a class="dropdown-item" href="../cse1">Syllabus</a>
                        <a class="dropdown-item" href="../cse2">Text Book</a>
                        <a class="dropdown-item" href="../cse2">Previous Question Paper</a>
                    </ul>
                  </div>
                  <h5>Fundamentals Of Digital Electronics</h5>
                  <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Click Here
                      </button>
                      <ul class="dropdown-menu">
                        <a class="dropdown-item" href="../cse1">Syllabus</a>
                          <a class="dropdown-item" href="../cse2">Text Book</a>
                          <a class="dropdown-item" href="../cse2">Previous Question Paper</a>
                      </ul>
                    </div>
                    <h5>Environmental Science </h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Click Here
                        </button>
                        <ul class="dropdown-menu">
                          <a class="dropdown-item" href="../cse1">Syllabus</a>
                            <a class="dropdown-item" href="../cse2">Text Book</a>
                            <a class="dropdown-item" href="../cse2">Previous Question Paper</a>
                        </ul>
                      </div>
    </div>
  </div>
